# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
public/images/photo1.jpg
public/images/photo2.jpg
public/images/photo3.jpg
public/images/photo4.jpg
public/images/photo5.jpg
public/images/photo6.jpg
public/images/photo7.jpg
public/images/photo8.jpg
public/images/photo9.jpg
public/images/photo10.jpg
public/images/photo11.jpg
public/images/photo12.jpg
public/images/photo13.jpg
public/images/photo14.jpg
public/images/photo15.jpg
public/images/photo16.jpg
